// Color Scheme
// First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$lightgray: #D1D1D1;
// Second Color Scheme
$fuzzywuzzy: #E56353;
$rudypink: #D76C69;
$spanishpink: #ECBCBA;
//Third Color Scheme
$eerieblack: #121619;
$raisinblack: #222323;
$nickel: #6C6E70;
//Font Family
$playfair: 'Playfair Display',
sans-serif;
$roboto: 'Roboto',
sans-serif;
// Tipography
// Font Weight
$light: 300;
$regular: 400;
$bold: 900;
// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
// Font style
$stylefont: italic;